<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
    <!-- <div id="contenedor">  
        <div id="contenedorcentrado">
            <div id="login">
                <form id="loginform">
                    <label class="login-user" for="usuario">Ingrese su número documento</label>
                    <input class="imput-user" id="usuario" type="text" name="usuario" placeholder="Usuario" required>
                    
                    <label class="login-pin" for="password">Ingrese PIN</label>
                    <input class="imput-pin" id="password" type="password" placeholder="PIN" name="password" required>
                    <hr>
                    <button type="submit" title="Ingresar" name="Ingresar">ENVIAR</button>
                </form>              
            </div>
            <div id="derecho">
                <div class="titulo">
                    <p style="color: white; margin: 0;">RST</p>
                    <p class="text-asoci">Asociados</p>
                </div>
                <div>
                    <p class="text-down">Descarga aquí<br> Los desprendibles de nómina</p>
                </div>

                <div class="pie-form">
                    Si tiene problemas envié un correo a <br>info@rstasociados.com.co
                </div>
            </div>
        </div>
    </div> -->
    <h1>INGRESO</h1>
</body>
</html>