table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;  
}

th{
  text-align: left;
  padding: 8px;
  background-color: #00143C;
  color: white;
  border-top-right-radius: 12px ;
  border-top-left-radius: 12px ;
  border: none;
}

td {
  text-align: left;
  padding: 0px 8px 0px 12%;
  border-bottom: 1px solid #888888;
}

tr:nth-child(odd) {
  background-color: #ededed;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:hover {
  font-weight: bold ;
  background-color: rgb(194, 194, 194);
}

.tr-margen{
  border: 1px solid #888888de;
}


.btn{
  background-color: #00143C;
  color: white;
  padding: 1% 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.btn:hover {
  opacity: 1;
  font-weight: bold;
}

.margin-select{
  display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 4.5vh;
}


@media (max-width: 640px) {

  #contenedorcentrado {
    display: flex;
    justify-content: center;
    flex-direction:row-reverse;
    width: 90%;
    /* border-radius: 10px 10px 10px 10px; */
  }  
  td {
    text-align: left;
    padding: 1px 6px 1px 4%;
    border-bottom: 1px solid #888888;
    color: rgb(59, 59, 59);
  }
  .btn{
    background-color: #00143C;
    color: white;
    padding: 2% 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
}